<ion-view mz-screen view-title="{{ params.title | translate }}">
    <ion-content>
		<!--Welcome title-->
		<div ng-show="data.screenTitle" class="text-center">
		    <h2> {{data.screenTitle}} </h2>
		</div>
		<div class="text-center">
		    	<!--Welcome image-->
		    <div class="" ng-show="data.welcomeMessage">
		        <h2 class="thick wrap digitel-subtitle"> {{data.welcomeMessage}} </h2>
		    </div> 
				<!-- Input -->
		    <div>
				<p class="" ng-show="data.screenMessage"> {{data.screenMessage}}</p>
		        <!-- Username -->
		    	<div class="row center">
		            <div class="col">
		                <input id="inputRecovery" type="text" data-ng-model="recover.username" placeholder="{{data.inputMessage}}" />
		            </div>
		        </div>       
		  		<!-- next button -->    
	        	<button class="button button-positive" data-ng-click="validateUser()" >{{data.nextMessage}}</button>
	        </div> 
		</div>
    </ion-content>
</ion-view>